<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<!-- topbar -->
<header class="header black-bg" id="topbar">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>喵喵<span>财保</span></b></a>
      <!--logo end-->
      
      
      
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    
    <aside id="sidebar">
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="back/img/ui-sam.jpg" class="img-circle" width="80"/></a></p>
          <h5 class="centered">熊蕃猛</h5>
          <li class="mt">
            <a class="active" href="index.html" 
            th:class="${activeUri=='index.html'?'active':''}">
              <i class="fa fa-dashboard"></i>
              <span>公司简介</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" th:class="${activeUri=='guaranteeList.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-desktop"></i>
              <span>保单模块</span>
              </a>
            <ul class="sub" th:style="${activeUri=='guaranteeList.html'?'display: block':'display: none'}">
              <li><a href="guaranteeList.html">查看保单</a></li>
              <li><a href="buttons.html">查看代办保单</a></li>
              <li><a href="panels.html">查看以办保单</a></li>
         
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" th:class="${activeUri=='basicTable.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>理赔模块</span>
              </a>
            <ul class="sub" th:style="${activeUri=='basicTable.html'?'display: block':'display: none'}" >
              <li><a href="basicTable.html">查看所有理赔单</a></li>
              <li><a href="daiban.html" >查看代办理赔单</a></li>
              <li><a href="gallery.html">查看一办理赔单</a></li>
              
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>财务模块</span>
              </a>
            <ul class="sub">
              <li><a href="blank.html">查看已完成理赔单</a></li>
              <li><a href="login.html">查看未完成理赔单</a></li>
              
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>超级管理员模块</span>
              </a>
            <ul class="sub">
              <li><a href="form_component.html">查看保单</a></li>
              <li><a href="form_component.html">查看理赔单</a></li>
              <li><a href="form_component.html">查看所有用户</a></li>
              <li><a href="advanced_form_components.html">增加用户</a></li>
              <li><a href="form_validation.html">删除用户</a></li>
              <li><a href="contactform.html">注销用户</a></li>
              <li><a href="contactform.html">修改用户</a></li>
            </ul>
          </li>
        
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>

</body>
</html>