<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<!-- topbar -->
<header class="header black-bg" id="topbar">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>喵喵<span>财保</span></b></a>
      <!--logo end-->
      
      
      
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html" th:text="#{login.logout}">logout</a></li>
        </ul>
      </div>
    </header>
    
    <aside id="sidebar">
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="back/img/ui-sam.jpg" class="img-circle" width="80"/></a></p>
          <h5 class="centered">熊蕃猛</h5>
          <li class="mt">
            <a class="active" th:href="@{/index}" th:class="${activeUri=='index.html'?'active':''}">
              <i class="fa fa-dashboard"></i>
              <span>首页</span>
            </a>
          </li>
         
          <li class="sub-menu">
            <a th:href="@{/getall}" th:class="${activeUri=='referAll.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>理赔清单</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="@{}" th:class="${activeUri=='referAll.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>待办清单</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="@{}" th:class="${activeUri=='referAll.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>已办清单</span>
            </a>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>财务模块</span>
              </a>
            <ul class="sub">
              <li><a href="Completed">查看已完成理赔单</a></li>
              <li><a href="HangInTheAir">查看未完成理赔单</a></li>
            </ul>
          </li>
          
        
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>

</body>
</html>