<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>

</head>
<body> 

<!-- topbar -->
<header class="header black-bg" id="topbar">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>喵喵<span>理赔</span></b></a>
      <!--logo end-->
      
      <script type="text/javascript">
		$(function(){
			$.post("/weather",{"city":"深圳","appkey":"3aa9dfcfc136e1953edb18c45d1835f6"},function(data){
				$("#tianqi_city").html(data.result.result.city);
				$("#tianqi_date").html(data.result.result.updatetime);
				$("#tianqi_week").html(data.result.result.week);
				$("#tianqi_weather").html(data.result.result.weather);
				$("#tianqi_humidity").html(data.result.result.humidity);
				$("#tianqi_temp").html(data.result.result.temp);
				$("#tianqi_templow").html(data.result.result.templow);
				$("#tianqi_temphigh").html(data.result.result.temphigh);
				$("#tianqi_detail").html(data.result.result.index[0].detail);
			},"json");
		});
		</script>
      
      <div class="top-menu" style="width:1400px;float:right;margin-top:20px">
      	<!-- 天气显示位置 -->
      	<div>
    	<span style="margin-left: 120px;color:white" >您所在的城市 : <span id="tianqi_city" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >日期 : <span id="tianqi_date" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >星期 :<span id="tianqi_week" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >天气 : <span id="tianqi_weather" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >湿度 : <span id="tianqi_humidity" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >气温: <span id="tianqi_temp" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >最低气温 : <span id="tianqi_templow" style="color:#4ECDC4" ></span></span>
    	<span style="color:white" >最高气温 : <span id="tianqi_temphigh" style="color:#4ECDC4" ></span></span>
      	
      	
        <ul class="nav pull-right top-menu" style="position:absolute;right:20px;top:0px">
          <li><a class="logout" href="login.html" th:href="@{/logout}" th:text="#{login.logout}">logout</a></li>
        </ul>
        <div style="clear:both"></div>
      	</div>
      </div>
      <div style="clear:both"></div>
    </header>
    
    <aside id="sidebar">
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
          <a href="userinfo.html" th:href="@{/userinfo}">
          	<img th:src="@{/back/img/ui-pic.jpg}"  class="rounded-circle" width="80"/>
          </a>
          </p>
          <a th:href="@{/userinfo}"><h5 class="centered" th:text="${session.clerk.realname}"></h5></a>
          <li class="mt">
            <a class="active" th:href="@{/index}" th:class="${activeUri=='index.html'?'active':''}">
              <i class="fa fa-dashboard"></i>
              <span>首页</span>
            </a>
          </li>
         
          <li class="sub-menu">
            <a th:href="@{/getall}" th:class="${activeUri=='referAll.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>理赔清单</span>
            </a>
          </li>
          <li class="sub-menu">
            <a th:href="@{/pending}" th:class="${activeUri=='pending.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>待办清单</span>
            </a>
          </li>
          <li class="sub-menu">
            <a th:href="@{/doing}" th:class="${activeUri=='doing.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>正在办理</span>
            </a>
          </li>
          <li class="sub-menu">
            <a th:href="@{/history}" th:class="${activeUri=='history.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>已办清单</span>
            </a>
          </li>
          
          <li class="sub-menu">
            <a href="Completed?adree=-1" th:class="${activeUri=='Completed.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>查看已完成理赔单</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="ToBeCompleted" th:class="${activeUri=='ToBeCompleted.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>查看未完成理赔单</span>
            </a>
          </li>
           <li class="sub-menu">
            <a href="InsurancePolicy?red=1" th:class="${activeUri=='InsurancePolicy.html'?'dcjq-parent active':'dcjq-parent'}">
              <i class="fa fa-cogs"></i>
              <span>处理未完成的保单</span>
            </a>
          </li>
          
        
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>

</body>
</html>