<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Dashboard" />
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
<title>喵喵财保后台系统</title>
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<!-- Favicons -->
<link th:href="@{/back/img/favicon.png}" rel="icon" />
<link th:href="@{/back/img/apple-touch-icon.png}" rel="apple-touch-icon" />

<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/back/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"	th:href="@{/back/css/zabuto_calendar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/back/lib/gritter/css/jquery.gritter.css}" />
<!-- Custom styles for this template -->
<link th:href="@{/back/css/style.css}" rel="stylesheet" />
<link th:href="@{/back/css/style-responsive.css}" rel="stylesheet" />
<script th:src="@{/back/lib/chart-master/Chart.js}"></script>

<style type="text/css">
.logout{
	position:relative;
	top:20px;
}

#f1 {
	width: 100%;
	height: 80%;
}

.switch {
	width: 50px;
	float: right;
	/* margin: 100px 0px 0 100px; */
}

.btn_fath {
	margin-top: 10px;
	position: relative;
	border-radius: 20px;
}

.btn1 {
	float: left;
}

.btn2 {
	float: right;
}

.btnSwitch {
	height: 20px;
	width: 25px;
	border: none;
	color: #fff;
	line-height: 20px;
	font-size: 8px;
	text-align: center;
	z-index: 1;
}

.move {
	z-index: 100;
	width: 20px;
	border-radius: 10px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	border: 1px solid #828282;
	background-color: #f1eff0;
	box-shadow: 1px 2px 2px 1px #fff inset, 0 0 5px 1px #999;
}

.on .move {
	left: 29px;
}

.on.btn_fath {
	background-color: #5281cd;
}

.off.btn_fath {
	background-color: #828282;
}
.inputClass{
	margin:0px 60px 0px 60px;
}
</style>
<script>
	
	function goback(){
		location.href="/doing";
	}
	function calculate1(claimid){
		$.post("/calculate1",{"claimid":claimid},function(data){
			$("#initial_amount").val(data);
		},"json");
	}
	function end(status){
		if(status=="success"){
			var r=confirm("确认通过？");
			if(r==true){
				fom.doingstatus.value="success";
				fom.submit();
			}
		}else{
			var r=confirm("确认不通过？");
			if(r==true){
				fom.doingstatus.value="failer";
				fom.submit();
			}
			
		}
	}
	$(function (){
		var path=$("#path").val();
		console.log(path);
		$("#imghouse").attr("src","/"+path);
	});
	
	
</script>
<script>
 function checkidrr(){
	var id=$("#idcard").val();
	var realname=$("#realname").val();
	$.post("/checkid",{"id":id,"realname":realname},function(data){
		var status=data.status;
		console.log(status);
		console.log(data);
		/* if(status=="01"){
			$("#checkidpass").css("display":"block","color":"green");
			$("#checkid").css("display","none");
		}else{
			$("#checkidnotpass").css("display":"block","color":"red"));
			$("#checkid").css("display","hidden");
		} */
		if(data=="01"){
			$("#checkid").css("display","none");
			$("#checkidpass").css("display","block");
		}else{
			$("#checkid").css("display","none");
			$("#checkidnotpass").css("display","block");
		}
		
	},"json");
}
</script>
</head>
<body style="background-color:#D4EDDA;">
	<section id="container">

		<div th:replace="backPage/commons/comm::#topbar(activeUri='doing.html')"></div>

		<div th:replace="backPage/commons/comm::#sidebar(activeUri='doing.html')"></div>


		<section id="main-content" >
			<section class="wrapper" >
			
				<form th:action="@{/enddoing}" method="POST" name="fom" id="fom">
				<input type="hidden" name="doingstatus" id="doingstatus" value=""/>
				<div class="container" style="margin-top:50px;">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">理赔编号和保单编号和理赔状态</span>
					  </div>
					  <input type="text" name="claimid" th:value="${claim.claimid}"  class="form-control" readonly>
					  <input type="text" name="policyid" th:value="${claim.policy}==null?'':${claim.policy.policyid}"  class="form-control" readonly>
					  <input type="text" name="status.status_name" th:value="${claim.status}==null?'':${claim.status.status_name}"  class="form-control" readonly>
					</div>
					
				
					 <div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">姓名和申请时间和结束时间</span>
					  </div>
					  <input type="text" name="claim_name" th:value="${claim.claim_name}" id="realname"  class="form-control" readonly>
					  <input type="text" name="claim_date" th:value="${claim.claim_date}"  class="form-control" readonly>
					  <input type="text" name="final_date" th:value="${claim.final_date}"  class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">证件号码和电话号码</span>
					  </div>
					  <input type="text" name="claim_card" th:value="${claim.claim_card}" class="form-control" id="idcard" readonly>
					  <input type="text" name="claim_phone" th:value="${claim.claim_phone}" class="form-control" readonly>
					  <span onclick="checkidrr()" id="checkid" class="btn btn-info" th:if="session.clerk.roleid==4">验证</span>
					  <span id="checkidpass" style="display:none" class="btn btn-dangers">通过</span>
					  <span id="checkidnotpass" style="display:none" class="btn btn-success">不通过</span>
					  
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">保单性质和险种</span>
					  </div>
					  <input type="text" name="pol_property"  th:value="${claim.pol_property}==0?'企业':'个人'" class="form-control" readonly>
					  <input type="text" name="coverage.coverage_name" th:value="${claim.coverage.coverage_name}" class="form-control" readonly>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">初始金额和最终金额</span>
					  </div>
					  <input type="text" name="initial_amount" th:value="${claim.initial_amount}" id="initial_amount"  class="form-control" readonly>
					  <span th:if="${session.clerk.roleid}==5" class="btn btn-success" th:onclick="calculate1([[${claim.claimid}]])">计算金额</span>
					  <input type="text" th:if="${session.clerk.roleid}!=5" name="final_amount" th:value="${claim.final_amount}"  class="form-control" readonly>
					  <input type="text" th:if="${session.clerk.roleid}==5" name="final_amount" th:value="${claim.final_amount}"  class="form-control">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">上一级操作人和操作时间</span>
					  </div>
					  <input type="text" name="upper_operator.realname"  th:value="${claim.upper_operator}==null?'':${claim.upper_operator.realname}"  class="form-control" readonly>
					  <input type="text" name="upper_date" th:value="${claim.upper_date}"  class="form-control" readonly>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">操作员</span>
					  </div>
					  <input type="text" name="scout.realname"  th:value="${claim.scout}==null?'':${claim.scout.realname}"  class="form-control" readonly>
					  <input type="text" name="first_auditor.realname" th:value="${claim.first_auditor}==null?'':${claim.first_auditor.realname}"  class="form-control" readonly>
					  <input type="text" name="second_auditor.realname" th:value="${claim.second_auditor}==null?'':${claim.second_auditor.realname}"   class="form-control" readonly>
					  <input type="text" name="third_auditor.realname" th:value="${claim.third_auditor}==null?'':${claim.third_auditor.realname}"   class="form-control" readonly>
					  <input type="text" name="accountant.realname" th:value="${claim.accountant}==null?'':${claim.accountant.realname}"   class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">会员编号和账号和姓名</span>
					  </div>
					  <input type="text" name="users.userid"  th:value="${claim.users}==null?'':${claim.users.userid}"  class="form-control" readonly />
					  <input type="text" name="users.username" th:value="${claim.users}==null?'':${claim.users.username}"  class="form-control" readonly />
					  <input type="text" name="users.realname" th:value="${claim.users}==null?'':${claim.users.realname}"   class="form-control" readonly />
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="inputGroup-sizing-default">银行卡号</span>
					  </div>
					  <input type="text" name="users.bank_card"  th:value="${claim.users}==null?'':${claim.users.bank_card}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
					</div>
				
				
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">申请理由</span>
					  </div>
					  <textarea class="form-control " name="reason"  aria-label="With textarea" readonly>[[${claim.reason}]]</textarea>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">上一级意见</span>
					  </div>
					  <textarea class="form-control " name="upper_opinion" aria-label="With textarea" readonly>[[${claim.upper_opinion}]]</textarea>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">转账失败原因</span>
					  </div>
					  <textarea class="form-control " name="transfer_failed" aria-label="With textarea" readonly>[[${claim.transfer_failed}]]</textarea>
					</div>
					<div>
						<span ></span>
					
					</div>
					<!-- th:onclick="goManage([[${claim.claimid}]]) -->
					
					<button type="file" th:if="${session.clerk.roleid}==10">文件上传</button>
				</div>
				</form>
				<!-- 勘察表展示 -->
				<div class="container" style="margin-top:50px;">
				<form action="">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">勘察编号,物品名称,物品使用年限</span>
					  </div>
					  <input type="text"  th:value="${verify.cla_ver_id}"  class="form-control" readonly>
					  <input type="text"  th:value="${verify.item_name}"  class="form-control" readonly>
					  <input type="text"  th:value="${verify.user_age}"  class="form-control" readonly>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">现场图片</span>
					  </div>
					  <div><img th:src="${verify.site_photo}" id="imghouse" th:if="${verify.site_photo!=null}"></div>
					  <!-- <input type="hidden" th:value="${verify.site_photo}" id="path"> -->
					  <input type="text" value="暂无图片" th:if="${verify.site_photo==null}" class="form-control" readonly/>
					</div>
					</form>
					<span th:if="${!(clerk.roleid=='4'&&(claim.status.statusid=='16'||claim.status.statusid=='17'))}" class="btn btn-round btn-success" th:onclick="end('success')">通过</span>
					<span th:if="${!(clerk.roleid=='4'&&(claim.status.statusid=='16'||claim.status.statusid=='17'))}" class="btn btn-round btn-danger" th:onclick="end('failer')">不通过</span>
					<span class="btn btn-round btn-info pull-right" th:onclick="goback()">返回</span>
				</div>
			</section>

		</section>
		<!--main content end-->
		<!--footer start-->
		<!--footer end-->

	</section>
	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/back/lib/jquery/jquery.min.js}"></script>

	<script th:src="@{/back/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script class="include" type="text/javascript" th:src="@{/back/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script th:src="@{/back/lib/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/back/lib/jquery.nicescroll.js}" type="text/javascript"></script>
	<script th:src="@{/back/lib/jquery.sparkline.js}"></script>
	<!--common script for all pages-->
	<script th:src="@{/back/lib/common-scripts.js}"></script>
	<script type="text/javascript"
		th:src="@{/back/lib/gritter/js/jquery.gritter.js}"></script>
	<script type="text/javascript" th:src="@{/back/lib/gritter-conf.js}"></script>
	<!--script for this page-->
	<script th:src="@{/back/lib/sparkline-chart.js}"></script>
	<script th:src="@{/back/lib/zabuto_calendar.js}"></script>
	<script type="application/javascript">
		
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  
	</script>
</body>
</body>
</html>