<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Dashboard" />
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
<title>喵喵财保后台系统</title>
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<!-- Favicons -->
<link th:href="@{/back/img/favicon.png}" rel="icon" />
<link th:href="@{/back/img/apple-touch-icon.png}" rel="apple-touch-icon" />

<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/back/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"	th:href="@{/back/css/zabuto_calendar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{back/lib/gritter/css/jquery.gritter.css}" />
<!-- Custom styles for this template -->
<link th:href="@{/back/css/style.css}" rel="stylesheet" />
<link th:href="@{/back/css/style-responsive.css}" rel="stylesheet" />
<script th:src="@{/back/lib/chart-master/Chart.js}"></script>

<script type="text/javascript" th:src="@{/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
<link rel="stylesheet" type="text/css"	th:href="@{/bootstrap-fileupload/bootstrap-fileupload.css}">


<style type="text/css">
.logout{
	position:relative;
	top:20px;
}

#f1 {
	width: 100%;
	height: 80%;
}

.switch {
	width: 50px;
	float: right;
	/* margin: 100px 0px 0 100px; */
}

.btn_fath {
	margin-top: 10px;
	position: relative;
	border-radius: 20px;
}

.btn1 {
	float: left;
}

.btn2 {
	float: right;
}

.btnSwitch {
	height: 20px;
	width: 25px;
	border: none;
	color: #fff;
	line-height: 20px;
	font-size: 8px;
	text-align: center;
	z-index: 1;
}

.move {
	z-index: 100;
	width: 20px;
	border-radius: 10px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	border: 1px solid #828282;
	background-color: #f1eff0;
	box-shadow: 1px 2px 2px 1px #fff inset, 0 0 5px 1px #999;
}

.on .move {
	left: 29px;
}

.on.btn_fath {
	background-color: #5281cd;
}

.off.btn_fath {
	background-color: #828282;
}
.inputClass{
	margin:0px 60px 0px 60px;
}
</style>
<script>
	var n=2;
	//返回
	function goback(){
		location.href="/doing";
	}
	//ajax填写勘查时间
	function gettimes(){
		$.post("/gettimes",{},function(data){
			$("#times").val(data.times);
		},"json")
	}
	
	//查询所有清单
	function change(object){
		$.post("/findAllItems",{},function(data){
			$(".itemlist:gt(1)").remove();
			 $.each(data,function(i,n){
				$(object).append("<option value='"+n.itemid+"'>"+n.item_name+"</option>");
        	 });
			 
		},"json");
 	}
	//追加行
	function addRow(){
		$("#tbody1").append("<tr><td><select id='inputState' class='form-control' onclick='change(this)' name='a"+n+"' ><option value='1' selected>--请选择--</option></select></td>"+
	    	"<td ><div class='form-group'><div class='controls col-md-9'><div class='fileupload fileupload-new' data-provides='fileupload'><span class='btn btn-theme02 btn-file'>"+
             "<span class='fileupload-new'><i class='fa fa-paperclip'></i> 选择文件</span><span class='fileupload-exists'><i class='fa fa-undo'></i> 更改</span><input type='file' class='default' name='a_pic"+n+"'/>"+
             "</span><span class='fileupload-preview' style='margin-left:5px;'></span><a href='advanced_form_components.html#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none; margin-left:5px;'></a>"+
              "</div></div></div></td><td ><div class='form-group'><div class='controls col-md-9'><div class='fileupload fileupload-new' data-provides='fileupload'><span class='btn btn-theme02 btn-file'><span class='fileupload-new'><i class='fa fa-paperclip'></i> 选择文件</span><span class='fileupload-exists'><i class='fa fa-undo'></i> 更改</span>"+
              "<input type='file' class='default' name='b_pic"+n+"'/></span><span class='fileupload-preview' style='margin-left:5px;'></span><a href='advanced_form_components.html#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none; margin-left:5px;'></a></div></div></div></td>"+
	    	"<td ><input type='text' class='form-control' name='b"+n+"'></td><td ><div class='form-group'><div class='controls col-md-9'><div class='fileupload fileupload-new' data-provides='fileupload'><span class='btn btn-theme02 btn-file'><span class='fileupload-new'><i class='fa fa-paperclip'></i> 选择文件</span>"+
            "<span class='fileupload-exists'><i class='fa fa-undo'></i> 更改</span><input type='file' class='default' name='c_pic"+n+"'/></span><span class='fileupload-preview' style='margin-left:5px;''></span><a href='advanced_form_components.html#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none; margin-left:5px;''></a>"+
             "</div></div></div></td><td ><input type='text' class='form-control' name='c"+n+"'></td><td ><input type='text' class='form-control' name='d"+n+"'></td><td ><input type='text' class='form-control' name='e"+n+"'></td></tr>"
             );
		n++;
		myform.num.value=n;
	}
	function sub(){

		fom.submit();
	}
</script>
</head>
<body>
	<section id="container">

		<div th:replace="backPage/commons/comm::#topbar(activeUri='doing.html')"></div>

		<div th:replace="backPage/commons/comm::#sidebar(activeUri='doing.html')"></div>


		<section id="main-content" >
			<section class="wrapper" >
			
				<form th:action="@{/showfile}" method="POST" name="fom" enctype="multipart/form-data" >
				<div class="container" style="margin-top:50px;">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">理赔编号和保单编号和理赔状态</span>
					  </div>
					  <input type="text" name="claim_list.claimid" th:value="${claim.claimid}"  class="form-control" readonly>
					  <input type="text" name="policyid" th:value="${claim.policy}==null?'':${claim.policy.policyid}"  class="form-control" readonly>
					  <input type="text" name="status.status_name" th:value="${claim.status}==null?'':${claim.status.status_name}"  class="form-control" readonly>
					</div>
					
				
					 <div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">姓名和申请时间和结束时间</span>
					  </div>
					  <input type="text" name="claim_name" th:value="${claim.claim_name}"  class="form-control" readonly>
					  <input type="text" name="claim_date" th:value="${claim.claim_date}"  class="form-control" readonly>
					  <input type="text" name="final_date" th:value="${claim.final_date}"  class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">证件号码和电话号码</span>
					  </div>
					  <input type="text" name="claim_card" th:value="${claim.claim_card}" class="form-control" readonly>
					  <input type="text" name="claim_phone" th:value="${claim.claim_phone}" class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">保单性质和险种</span>
					  </div>
					  <input type="text" name="pol_property"  th:value="${claim.pol_property}==0?'企业':'个人'" class="form-control" readonly>
					  <input type="text" name="coverage.coverage_name" th:value="${claim.coverage.coverage_name}" class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">上一级操作人和操作时间</span>
					  </div>
					  <input type="text" name="upper_operator.realname"  th:value="${claim.upper_operator}==null?'':${claim.upper_operator.realname}"  class="form-control" readonly>
					  <input type="text" name="upper_date" th:value="${claim.upper_date}"  class="form-control" readonly>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">操作员</span>
					  </div>
					  <input type="text" name="scout.realname"  th:value="${claim.scout}==null?'':${claim.scout.realname}"  class="form-control" readonly>
					  <input type="text" name="first_auditor.realname" th:value="${claim.first_auditor}==null?'':${claim.first_auditor.realname}"  class="form-control" readonly>
					  <input type="text" name="second_auditor.realname" th:value="${claim.second_auditor}==null?'':${claim.second_auditor.realname}"   class="form-control" readonly>
					  <input type="text" name="third_auditor.realname" th:value="${claim.third_auditor}==null?'':${claim.third_auditor.realname}"   class="form-control" readonly>
					  <input type="text" name="accountant.realname" th:value="${claim.accountant}==null?'':${claim.accountant.realname}"   class="form-control" readonly>
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="">会员编号和账号和姓名</span>
					  </div>
					  <input type="text" name="users.userid" th:value="${claim.users}==null?'':${claim.users.userid}"  class="form-control" readonly>
					  <input type="text" name="users.username" th:value="${claim.users.username}"  class="form-control" readonly>
					  <input type="text" name="users.realname" th:value="${claim.users.realname}==null?'':${claim.users.realname}"  class="form-control" readonly>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="inputGroup-sizing-default">银行卡号</span>
					  </div>
					  <input type="text" name="users.bank_card"  th:value="${claim.users.bank_card}==null?'':${claim.users.bank_card}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
					</div>
				
				
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">申请理由</span>
					  </div>
					  <textarea class="form-control " name="reason"  aria-label="With textarea" readonly>[[${claim.reason}]]</textarea>
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">上一级意见</span>
					  </div>
					  <textarea class="form-control " name="upper_opinion" aria-label="With textarea" readonly>[[${claim.upper_opinion}]]</textarea>
					</div>
				<!-- </form>	
					
				<form th:action="@{/insertPv}" method="post" enctype="multipart/form-data" id="myform" name="myform"> -->
					<input type="hidden" value="2"  id="num" name="num">
					<!-- table -->
					
					<table class="table table-striped">
						  <thead>
						    <tr> 
						      <th scope="col">房产证照片</th>
						      <th scope="col">房屋地址</th>
						      <th scope="col">房屋照片</th>
						      <th scope="col">房屋面积</th>
						      <th scope="col">房屋市值</th>
						      <th scope="col">房屋使用年限</th>
						      <th scope="col">房屋竣工时间</th>
						      <th scope="col">勘察时间</th>
						      <th scope="col">勘察员</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						    	<td >
				                  <div class="form-group">
					                  <div class="controls col-md-9">
					                    <div class="fileupload fileupload-new" data-provides="fileupload">
					                      <span class="btn btn-theme02 btn-file">
					                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> 选择文件</span>
					                      <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
					                      <input type="file" class="default" name="h_pic"/>
					                      </span>
					                      <span class="fileupload-preview" style="margin-left:5px;"></span>
					                      <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
					                    </div>
					                  </div>
					                </div>
						    	</td>
						    	<td ><input type="text" class="form-control" name="address"></td>
						    	<td >
						    		<div class="form-group">
					                  <div class="controls col-md-9">
					                    <div class="fileupload fileupload-new" data-provides="fileupload">
					                      <span class="btn btn-theme02 btn-file">
					                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> 选择文件</span>
					                      <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
					                      <input type="file" class="default" name="bud_pic"/>
					                      </span>
					                      <span class="fileupload-preview" style="margin-left:5px;"></span>
					                      <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
					                    </div>
					                  </div>
					                </div>
						    	</td>
						    	<td ><input type="text" class="form-control" name="acreage"></td>
						    	<td ><input type="text" class="form-control" name="house_market"></td>
						    	<td ><input type="text" class="form-control" name="house_age"></td>
						    	<td ><input type="text" class="form-control" name="completed_date" value="2017-10-12" ></td>
						    	<td ><input type="text" class="form-control" name="verify_date" id="times" th:onblur="gettimes()"></td>
						    	<td ><input type="text" class="form-control" name="verify_scout" th:value="${session.clerk.magid}" readonly></td>
						    </tr>
						  </tbody>
						  
						  <thead>
						    <tr> 
						      <th scope="col">物品名称</th>
						      <th scope="col">现场拍摄照片</th>
						      <th scope="col">第三方证明照片</th>
						      <th scope="col">使用年限</th>
						      <th scope="col">发票图片</th>
						      <th scope="col">发票金额</th>
						      <th scope="col">品牌</th>
						      <th scope="col">型号</th>
						     <!--  <th> <button type="button" class="btn btn-round btn-success "  th:onclick="addRow()">添加</button></th> -->
						    </tr>
						  </thead>
						  
						  <input type="hidden" th:value="${claim.claimid}" name="claimid"/>
						  
						  <tbody id="tbody1">
						    <tr>
						    	<td>
								   	  <select id="inputState" class="form-control"  name="a1" >
								      	<option value="1" selected class="">--请选择--</option>
								        <option th:each="item:${items}" th:value="${item.itemid}" th:text="${item.item_name}" class="itemlist"></option>
								     </select>
							    </td>
						    	<td >
						    		<div class="form-group">
					                  <div class="controls col-md-9">
					                    <div class="fileupload fileupload-new" data-provides="fileupload">
					                      <span class="btn btn-theme02 btn-file">
					                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> 选择文件</span>
					                      <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
					                      <input type="file" class="default" name="a_pic1"/>
					                      </span>
					                      <span class="fileupload-preview" style="margin-left:5px;"></span>
					                      <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
					                    </div>
					                  </div>
					                </div>
						    	</td>
						    	<td >
						    		<div class="form-group">
					                  <div class="controls col-md-9">
					                    <div class="fileupload fileupload-new" data-provides="fileupload">
					                      <span class="btn btn-theme02 btn-file">
					                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> 选择文件</span>
					                      <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
					                      <input type="file" class="default" name="b_pic1"/>
					                      </span>
					                      <span class="fileupload-preview" style="margin-left:5px;"></span>
					                      <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
					                    </div>
					                  </div>
					                </div>
						    	</td>
						    	<td ><input type="text" class="form-control" name="b1"></td>
					    		<td >
						    		<div class="form-group">
					                  <div class="controls col-md-9">
					                    <div class="fileupload fileupload-new" data-provides="fileupload">
					                      <span class="btn btn-theme02 btn-file">
					                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> 选择文件</span>
					                      <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
					                      <input type="file" class="default" name="c_pic1"/>
					                      </span>
					                      <span class="fileupload-preview" style="margin-left:5px;"></span>
					                      <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
					                    </div>
					                  </div>
					                </div>
						    	</td>
						    	<td ><input type="text" class="form-control" name="c1"></td>
						    	<td ><input type="text" class="form-control" name="d1"></td>
						    	<td ><input type="text" class="form-control" name="e1"></td>
						    </tr>
						   
						    
						  </tbody>
						</table>
				
				
					<button type="button" class="btn btn-round btn-success "  th:onclick="sub()">提交</button>
					<!-- th:onclick="goManage([[${claim.claimid}]]) -->
					<button type="button" class="btn btn-round btn-info pull-right" th:onclick="goback()">返回</button>
					
				</div>
				</form>
				
				
			</section>

		</section>
		<!--main content end-->
		<!--footer start-->
		<!--footer end-->

	</section>
	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/back/lib/jquery/jquery.min.js}"></script>

	<script th:src="@{/back/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script class="include" type="text/javascript" th:src="@{/back/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script th:src="@{back/lib/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/back/lib/jquery.nicescroll.js}" type="text/javascript"></script>
	<script th:src="@{/back/lib/jquery.sparkline.js}"></script>
	<!--common script for all pages-->
	<script th:src="@{/back/lib/common-scripts.js}"></script>
	<script type="text/javascript"
		th:src="@{/back/lib/gritter/js/jquery.gritter.js}"></script>
	<script type="text/javascript" th:src="@{/back/lib/gritter-conf.js}"></script>
	<!--script for this page-->
	<script th:src="@{/back/lib/sparkline-chart.js}"></script>
	<script th:src="@{/back/lib/zabuto_calendar.js}"></script>
	<script type="application/javascript">
		
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  
	</script>
</body>
</body>
</html>